<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./css/home.css">
    <title>TNPSC-TRACKER-PROJECT</title>
</head>
<body>
	      <nav class="navbar">
        <div class="brand-title">Super 30</div>
        <a href="#" class="toggle-button">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
        <div class="navbar-links">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/mypage">Dashboard</a></li>
            <li><a href="/login">Login</a></li>
          </ul>
        </div>
      </nav>
 	<div class="grid">
		<h3 class="leaderboard-title">Leaderboard 🏆</h3>
		<% array.forEach((element,index) => { %>

		<div class="grid-item">
		<div class="number"><%=index+1%>
		</div>
			<div class="name"><%=element.username%></div>
			<div class="score"><%=element.totalMarks%></div>
		</div>
		<% }) %>
</div>

	<script type="text/javascript">
	const toggleButton = document.getElementsByClassName('toggle-button')[0]
const navbarLinks = document.getElementsByClassName('navbar-links')[0]

toggleButton.addEventListener('click', () => {
  navbarLinks.classList.toggle('active')
})
</script>
 </body>
</html>