<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/signup.css">
    <title>Email Verification</title>
</head>
<body>
    <div class="container">
        <img src="./images/email.png" alt="Email logo">
        <h3>Successfully verified your email</h3>
        <form action="/login" method="GET">
        	<button type="submit" class="verify-login-button">Login</button>
        </form>
    </div>
</body>
</html>