<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/signup.css">
    <title>FORGOT PASSWORD</title>
</head>
<body>
     <h1>SUPER 30</h1>
    <h3>FORGOT PASSWORD</h3>
    <div class="container">
        <div class="child">
            <form action="/forgotPassword" method="POST">
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="Enter your email address" required="true">
                <button>submit</button>
            </form>
        </div>
    </div>
    <div id="notification" class="toast">
        <%=err%>
    </div>
    <script>
        let element = document.getElementById("notification");
        if("<%=err%>")
        {
            element.style.visibility = "visible";
        setTimeout(() => {
            element.style.visibility = "hidden";
        }, 3000);
        }
    </script>
</body>
</html>